@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;
    src: local("Gilroy Light"), local("Gilroy-Light"), 
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    font-style: normal;
    src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), 
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: local("OpenSans Regular"), local("OpenSans-Regular"), 
         url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    src: local("OpenSans Light"), local("OpenSans-Light"), 
         url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");    
}

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "Opensans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
}

.inner_page {
    
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

button {
    border: none;
}

.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.header_index {
    background-color: #f7e296;
    width: 1160px;
    min-height: 299px;
    margin: 0 auto;
    margin-top: 29px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.main_navigation {
    width: 1040px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.main_header_logo {
    margin-top: -8px;
}

.user_menu {
    display: flex; 
    margin-top: 20px;  
}

.user_menu .exit {
    height: 30px; 
}

.search_form {
    height: 46px;
    position: relative;
    margin-top: -10px;
    margin-right: auto; 
    margin-bottom: 10px;
    margin-left: 0px;
    border-bottom: 2px solid #f7e296;    
}

.search_form::before {
    content: url(../img/search.svg);
    position: absolute;
    top: 17px;
    left: 0px;
    width: 16px;
    height: 16px;
}

.search {
    margin-left: 40px;
    background-color: #f7e296;
    border: none;
}

.search::placeholder {
    color: #ac9e69;
}

.search:hover::placeholder {
    color: #635a3c;
}

.find_btn {
    width: 82px;
    height: 46px;
    margin-left: 100px;
    font-size: 15px;
    line-height: 30px;
    background-color: #f7e296;
    border: 2px solid #000000;
    border-bottom: none;
    visibility: hidden;
}

.search_form:hover {
    border-bottom: 2px solid #000000;    
}

.search_form:hover .find_btn {
    visibility: initial;
}

.find_btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.find_btn:focus {
    color: #4d4d4d;
}




.compare {
    margin-right: 40px;
}

.enter {
    margin-right: 216px;
}

.enter_catalog,
.footer_enter_catalog {
    margin-right: 20px;
}

.user_exit {
    margin-right: 65px;
    color: #ac9e69;
}

.site_navigation {
    list-style-type: none;
    padding-left: 0;
    margin-top: 25px;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    position: relative;
}

.site_navigation::after {
    content: " "; 
    background: #ffffff; 
    width: 100px;
    height: 7px;
    position: absolute;
    left: 540px;
    top: 105px;
    z-index: 1;
}

.site_navigation li {
    letter-spacing: 3px; 
}

.catalog {
    width: 540px;
}
    
.nav_delivery {
    margin-right: 40px;
    margin-left: 7px;
}

.nav_guarantee {
    margin-right: auto;
}

.site_navigation .catalog_list {
    list-style-type: none;
    width: 1160px;
    height: 130px;
    padding: 0;
    position: relative;
    top: 28px;
    left: -60px;
    background-color: #f7e296;
    display: flex; 
    z-index: 2;
}

.catalog_column {
    margin-top: -5px;
    margin-left: 20px;
}

.list_3 {
    margin-left: 45px;
}

/*-----------------------------------------СЛАЙДЕРЫ -----------------------------*/

/*-----------------------------------------СЛАЙДЕР    #1-----------------------------*/

.sliders_menu {
    margin-top: 0px;
    width: 1100px;
    min-height: 486px;
    display: flex;
    justify-content: space-between;
}

.sliders_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sliders_menu.slider_1 {
    display: flex;
}


.sliders_menu.slider_1 {
    
}




.photo_monopods {
    width: 400px;
    margin-top: -111px;
    margin-left: 90px;
}

.about_selfie {
    width: 500px;
    display: flex;
    flex-direction: column;    
}

.about_selfie .numeration_sliders {
    margin-top: -122px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    font-weight: 700;
    line-height: 179px;
    color: #ffffff;
    align-self: flex-end;  
}

.about_selfie .selfie_notation {
    margin-top: -268px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
}

.description_selfie {
    margin-top: -25px;
    font-size: 15px;
    color: #464646;
    line-height: 30px;
}

.more_and_radio {
    margin-top: 25px;
    display: flex;
}

.more_and_radio .more_detailed {
    display: block;
    width: 134px;
    height: 24px;
    margin-right: 165px;
    padding: 8px 43px;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px,  #f0c52e 24px, transparent 24px);
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
}

.more_and_radio .radio_sliders {
    margin-top: 8px;
}

.more_and_radio .more_detailed:hover {
    background-image: linear-gradient(#f0c52e 41px, #f0c52e 41px);
}

.more_and_radio .more_detailed:focus {
    color: rgba(0, 0, 0, 0.3);
}

.slider_1 .more_and_radio .radio_sliders {
    display: flex;
}

.slider_1 .more_and_radio .radio_slider {
    position: relative;
}

.slider_1 .more_and_radio .radio_slider::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid #050505;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -3px;  
}

.slider_1 .radio_slider.radio_2::before {
    left: 30px;
}

.slider_1 .radio_slider.radio_3::before {
    left: 63px;
}

.slider_1 .input_slider.radio_1:checked + .radio_slider.radio_1::after {
    content: "";
    width: 4px;
    height: 4px;
    border: 1px solid #050505;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 1px;  
}

.parameters {
    margin-top: 50px;
    width: 427px;
    display: flex;
    justify-content: space-between;
}

.parameters .character {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}

.parameter_item {
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

/*-------------------------------------СЛАЙДЕР #2 ---------------------------------*/

.sliders_menu {
    margin-top: 0px;
    width: 1100px;
    min-height: 486px;
    display: flex;
    justify-content: space-between;
}

.sliders_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sliders_menu.slider_2 {
    display: flex;
}

.sliders_menu.slider_2 {
    display: none;
}

 .photo_fitbracelet {
    width: 400px;
    margin-top: -88px;
    margin-left: 110px;
}

.about_selfie {
    width: 500px;
    display: flex;
    flex-direction: column;    
}

.numeration_sliders {
    margin-top: -115px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    font-weight: 700;
    line-height: 179px;
    color:#ffffff;
    align-self: flex-end;
   
}

.selfie_notation {
    margin-top: -264px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
}

.description_selfie {
    margin-top: -25px;
    font-size: 15px;
    color: #464646;
    line-height: 30px;
}

.more_and_radio {
    margin-top: 25px;
    display: flex;
}

.more_and_radio .more_detailed {
    display: block;
    width: 134px;
    height: 24px;
    margin-right: 165px;
    padding: 8px 43px;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px,  #f0c52e 24px, transparent 24px);
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
}

.more_and_radio .radio_sliders {
    margin-top: 8px;
}

.more_and_radio .more_detailed:hover {
    background-image: linear-gradient(#f0c52e 41px, #f0c52e 41px);
}

.more_and_radio .more_detailed:focus {
    color: rgba(0, 0, 0, 0.3);
}

.slider_2 .more_and_radio .radio_slider {
    position: relative;
}

.slider_2 .more_and_radio .radio_slider::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid #050505;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -3px;  
}

.slider_2 .radio_slider.radio_2::before {
    left: 30px;
}

.slider_2 .radio_slider.radio_3::before {
    left: 63px;
}

.slider_2 .input_slider.radio_2:checked + .radio_slider.radio_2::after {
    content: "";
    width: 4px;
    height: 4px;
    border: 1px solid #050505;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 30px;  
}

.parameters {
    margin-top: 50px;
    width: 427px;
    display: flex;
    justify-content: space-between;
}

.parameters .character {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}

.parameter_item {
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

/*-------------------------------------СЛАЙДЕР #3 ---------------------------------*/

.sliders_menu {
    margin-top: 0px;
    width: 1100px;
    min-height: 486px;
    display: flex;
    justify-content: space-between;
}

.sliders_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sliders_menu.slider_3 {
    display: flex;
}

.sliders_menu.slider_3 {
    display: none;
}

.photo_quadcopter {
    width: 400px;
    margin-top: -35px;
    margin-left: 29px;
}

.about_selfie {
    width: 500px;
    display: flex;
    flex-direction: column;    
}

.numeration_sliders {
    margin-top: -115px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    font-weight: 700;
    line-height: 179px;
    color:#ffffff;
    align-self: flex-end;
   
}

.selfie_notation {
    margin-top: -264px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
}

.description_selfie {
    margin-top: -25px;
    font-size: 15px;
    color: #464646;
    line-height: 30px;
}

.more_and_radio {
    margin-top: 25px;
    display: flex;
}

.more_and_radio .more_detailed {
    display: block;
    width: 134px;
    height: 24px;
    margin-right: 165px;
    padding: 8px 43px;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px,  #f0c52e 24px, transparent 24px);
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
}

.more_and_radio .radio_sliders {
    margin-top: 8px;
}

.more_and_radio .more_detailed:hover {
    background-image: linear-gradient(#f0c52e 41px, #f0c52e 41px);
}

.more_and_radio .more_detailed:focus {
    color: rgba(0, 0, 0, 0.3);
}

.slider_3 .more_and_radio .radio_slider {
    position: relative;
}

.slider_3 .more_and_radio .radio_slider::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid #050505;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -3px;  
}

.slider_3 .radio_slider.radio_2::before {
    left: 30px;
}

.slider_3 .radio_slider.radio_3::before {
    left: 63px;
}

.slider_3 .input_slider.radio_3:checked + .radio_slider.radio_3::after {
    content: "";
    width: 4px;
    height: 4px;
    border: 1px solid #050505;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 67px;  
}

.parameters {
    margin-top: 50px;
    width: 427px;
    display: flex;
    justify-content: space-between;
}

.parameters .character {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}

.parameter_item {
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

.slider_3 .visibility_hidden {
    width: 100px;
}

/*----------------------------------------------------*/



/*----------------СТРОЧНАЯ ВИТРИНА - НАЧАЛО-------------------*/

.shopping_row {
    display: flex;
    justify-content: space-between;
}

.shopping_row ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.shopping_row .icon_row a {
    width: 160px;
    height: 160px;
    margin-bottom: 39px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    display: block;
}

.row_item_1 svg {
    margin-top: 52px;
    margin-left: 32px;
}

.row_item_2 svg {
    margin-top: 43px;
    margin-left: 37px;
}

.row_item_3 svg {
    margin-top: 36px;
    margin-left: 44px;   
}

.row_item_4 svg {
    margin-top: 47px;
    margin-left: 26px;   
}

.row_item_5 svg {
    margin-top: 31px;
    margin-left: 52px;   
}

.row_item_6 svg {
    margin-top: 45px;
    margin-left: 14px; 
}

.row_item_text p {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
}



.shopping_row .icon_row a:hover {
    background-color:#f0c52e;
}

.shopping_row .icon_row a:focus {
    fill-opacity: 0.3;  
}

/*----------------------СТРОЧНАЯ ВИТРИНА - КОНЦОВКА------------------------------*/


/*----------------------CЕРВИСЫ (ДОСТАВКА, ГАРАНТИЯ, КРЕДИТ) - НАЧАЛО------------*/

/*----------------------CЕРВИСЫ (ДОСТАВКА, ГАРАНТИЯ, КРЕДИТ) - СЛАЙДЕР №1------------*/


.servises_background {
    background-color: #e5e5e5;
    width: 100%;
    min-height: 288px;
    margin-top: 185px;
}

.servises {
    margin-left: 23px;
    display: flex;
}

.servises ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.servises_item button {
    background: none;
}

.servises_item button {
    width: 160px;
    height: 40px;
    position: relative;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px,  #f0c52e 24px, transparent 24px);
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
    margin-top: -11px;
}

.servises_item button:hover {
    background-image: linear-gradient(#f0c52e 41px, #f0c52e 41px);
}

.servises_item button::after {
    content: "";
    width: 120px;
    height: 40px;
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 160px;
    display: none;
}

.servises_item button:focus {
    background-image: none;
    background-color: #000000;
    color: #f7e184;
}

.servises_item button:focus::after {
    display: block;
}

.servises_list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 142px;
    justify-content: space-between;
    align-items: center;
}

.servises_list::after {
    content: " ";
    width: 7px;
    height: 319px;
    background-color: #000000;
    position: absolute;
    left: 278px;
    top: -115px;
}

.icon_devivery {
    background-image: url("../img/delivery.svg");
    width: 136px;
    height: 164px;
}

.delivery {
    margin-top: -28px;
    margin-left: 265px;
}

.delivery h3 {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
}

.delivery p { 
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.icon_devivery {
    margin-top: -15px;
    margin-left: 130px;
}

/*----------------------CЕРВИСЫ (ДОСТАВКА, ГАРАНТИЯ, КРЕДИТ) - СЛАЙДЕР №1 - КОНЦОВКА----*/

/*----------------------CЕРВИСЫ (ДОСТАВКА, ГАРАНТИЯ, КРЕДИТ) - СЛАЙДЕР №1------------*/


.servises_background {
    background-color: #e5e5e5;
    width: 100%;
    min-height: 288px;
    margin-top: 185px;
    margin-bottom: 95px;
}

.servises {
    margin-left: 0;
    display: flex;
}

.servises ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.servises li {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
    margin-top: -11px;
}

.servises input {
    display: none;
}

.icon_devivery {
    background-image: url("../img/delivery.svg");
    width: 136px;
    height: 164px;
    margin-top: -15px;
    margin-left: 130px;
}

.delivery,
.warranty,
.credit {
    margin-top: -28px;
    margin-left: 265px;
}

.delivery h3,
.warranty h3,
.credit h3 {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
}

.delivery p,
.warranty p,
.credit p { 
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.delivery_hidden {
    display: block;
}


/*---------------------- СЛАЙДЕР №1 - КОНЦОВКА----*/

/*-----БЛОКИ К СЛАЙДУ №2-------*/


.icon_warranty {
    background-image: url("../img/warranty.svg");
    width: 171px;
    height: 194px;
    margin-top: -38px;
    margin-left: 110px;
}

.warranty_hidden {
    display: none;
}

/*-----БЛОКИ К СЛАЙДУ №3-------*/


.icon_credit {
    background-image: url("../img/credit.svg");
    width: 156px;
    height: 186px;
    margin-top: -38px;
    margin-left: 100px;
}

.credit_hidden {
    display: none;
}


/*----------------------CЕРВИСЫ (ДОСТАВКА, ГАРАНТИЯ, КРЕДИТ) - КОНЦОВКА--------------*/

/*----------------------ЛИНИЯ ЛОГОТИПОВ - НАЧАЛО--------------*/

.container_logotypes {
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logotypes {
    width: 260px;
    height: 100px;
}

.logo_1_gray {
    background-image: url("../img/logo_1_gray.png");
}

.logo_1:hover {
    background-image: url("../img/logo_1.png");
}

.logo_2_gray {
    background-image: url("../img/logo_2_gray.png");
}

.logo_2:hover {
    background-image: url("../img/logo_2.png");
}

.logo_3_gray {
    background-image: url("../img/logo_3_gray.png");
}

.logo_3:hover {
    background-image: url("../img/logo_3.png");
}

.logo_4_gray {
    background-image: url("../img/logo_4_gray.png");
}

.logo_4:hover {
    background-image: url("../img/logo_4.png");
}

/*----------------------ЛИНИЯ ЛОГОТИПОВ - КОНЦОВКА--------------*/


/*----------------------О НАС и НАПИШИТЕ НАМ - НАЧАЛО--------------*/


.write_about_us {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.about_us p.heading,
.write_us p.heading {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
    position: relative;
}

.about_us p.heading::before {
    content: " ";
    width: 80px;
    height: 7px;
    background: #000000;
    position: absolute;
    left: 0px;
    top: -60px;
}

.write_us p.heading::before {
    content: " ";
    width: 80px;
    height: 7px;
    background: #000000;
    position: absolute;
    left: 0px;
    top: -60px;
}

.about_us p.contents,
.write_us p.contents {
    margin: 0;
    font-size: 15px;
    color: #464646;
    line-height: 30px;
}

.about_us p.content_2 {
    margin-top: 37px;
}

.write_us .small_map {
    display: block;
    margin: 45px 0;
}

.trans_comp_list {
    margin-top: 67px;
    margin-bottom: 52px;
}

.trans_comp_list .trans_item {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    position: relative;
}

.trans_comp_list .trans_item::before {
    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
	border-radius: 50px;
    background-color: #e5e5e5;
    left: -40px;
    top: 17px;
}

.trans_comp_list .trans_item::after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 4px;
	border-radius: 50px;
    background-color: #ffffff;
    left: -38px;
    top: 19px;
}

.about_us .btn_about_us,
.write_us .btn_write_us {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px; 
    line-height: 24px;
}

.about_us .btn_about_us {
    width: 220px;
    height: 40px;
    padding: 8px 30px;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px,  #f0c52e 24px, transparent 24px);
}

.write_us .btn_write_us {
    width: 176px;
    height: 41px;
    padding: 8px 43px;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px,  #f0c52e 24px, transparent 24px);
}

.write_us .btn_write_us:hover,
.about_us .btn_about_us:hover {
    background-image: linear-gradient(#f0c52e 41px, #f0c52e 41px);
}




/*----------------------О НАС и НАПИШИТЕ НАМ - КОНЦОВКА--------------*/


/*------------------------ФУТЕР - ГЛАВНОЙ СТРАНИЦЫ-  НАЧАЛО------------*/

.footer_main {
    background-color: #464646;
    background-position: bottom;
    width: 100%;
    min-height: 323px;
    margin-top: 95px;
}

.footer_head {
    display: flex;
}

.footer_nav {
    display: flex;
    margin-top: 15px;
}

.footer_social {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.social_list {
    width: 145px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer_social .yellow_line {
    width: 80px;
    position: relative;
}

.yellow_line::before {
   content: " ";
   background-color: #ffc600;
   width: 80px;
   height: 7px;
   position: absolute;
   left: 0px;
   top: 10px;
}

.footer_social .logo_html {
    padding-left: 53px;

}

.site_navigation_foot {
    margin-top: 20px;
    margin-left: 166px;
    display: flex;
    width: 426px;
    justify-content: space-between;
    padding: 0;
}

.site_navigation_foot li {
    letter-spacing: 3px;
}

.footer_nav .telefone {
    margin-left: auto;
}

.footer_main .logo_bottom,
.footer_menu {
    margin-top: 67px;
}

.footer_main .logo_bottom,
.footer_catalog .logo_bottom {
    fill: #ffc600;
}

.footer_menu {
    margin-left: auto;
}

.foot_enter,
.foot_compare {
    margin-right: 35px;
}

.foot_enter,
.foot_compare,
.foot_basket,
.footer_nav .telefone {
    font-size: 15px;
    line-height: 30px;
}

.footer_nav .address {
    font-size: 15px;
    color: #464646;
    line-height: 30px;
}

.footer_main .foot_enter,
.footer_main .foot_compare,
.footer_main .foot_basket {
    color: rgba(255, 255, 255, 0.7);
}

.footer_nav .address,
.footer_nav .telefone a,
.footer_nav .nav_link,
.footer_main .foot_enter:hover,
.footer_main .foot_compare:hover,
.footer_main .foot_basket:hover {
    color: rgba(255, 255, 255);
}

.footer_nav .nav_link:hover {
    color: #b5b5b5;
}

.footer_nav .nav_link:focus,

.footer_main .foot_basket:focus {
    color: #7e7e7e;
 }

.facebook path,
.instagram path,
.twitter path {
    opacity: 0.3;  
}

.facebook:hover path,
.instagram:hover path,
.twitter:hover path {
    opacity: 0.6;
}

.facebook:focus path,
.instagram:focus path,
.twitter:focus path {
    opacity: 0.1;
} 

.logo_html {
    width: 27px;
    height: 35px;
    background-image: url("../img/logo-html.svg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.logo_html:hover {
    opacity: 0.6;
}

.logo_html:focus {
    opacity: 0.3;
}


/*------------------------ФУТЕР - ГЛАВНОЙ СТРАНИЦЫ - КОНЦОВКА ----------------------------*/


/*------------------------ФУТЕР - КАТАЛОГА-СТРАНИЦЫ - НАЧАЛО------------*/

.footer_main {
    background-color: #464646;
    background-position: bottom;
    width: 100%;
    min-height: 323px;
    margin-top: 95px;
}

.footer_catalog {
    margin-top: 0;
}

.footer_catalog .logo_bottom:hover {
    opacity: 0.6;
}

.footer_catalog .logo_bottom:focus {
    opacity: 0.3;
}

.footer_catalog .footer_enter_catalog {
    color: rgba(255, 255, 255, 0.7);
    margin-right: 15px;
}

.footer_catalog .footer_enter_catalog:hover {
    color: rgba(255, 255, 255);
}

.footer_catalog .footer_enter_catalog:focus {
    color: rgba(255, 255, 255, 0.3);
}

.footer_catalog .user_exit {
    margin-right: 35px;
    color: rgba(255, 255, 255, 0.3);
}

.footer_head {
    display: flex;
}

.footer_nav {
    display: flex;
    margin-top: 15px;
}

.footer_social {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.social_list {
    width: 145px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer_catalog .yellow_line_catalog {
    position: relative;
    width: 80px;
}

.yellow_line_catalog::before {
    content: " ";
    background-color: #ffc600;
    width: 80px;
    height: 7px;
    position: absolute;
    left: 0px;
    top: 10px;
 }


/*------------------------ФУТЕР - КАТАЛОГА-СТРАНИЦЫ - КОНЦОВКА------------*/

/*------------------------ХЕДЕР - КАТАЛОГА-СТРАНИЦЫ - НАЧАЛО------------*/


.header_catalog {
    background-color: #f7e296;
    width: 1160px;
    min-height: 186px; 
    margin: 0 auto; 
    margin-top: 40px;
}

.user_autor {
   width: 100px;
}

.header_logo_catalog {
    margin-top: -17px;
}

.header_logo_catalog:hover {
    opacity: 0.6;
}

.header_logo_catalog:focus {
    opacity: 0.3;
}

.search_catalog {
    margin-right: auto;
}

/*------------------------ХЕДЕР - КАТАЛОГА-СТРАНИЦЫ - КОНЦОВКА------------*/

/*------------------------MAIN - КАТАЛОГА-СТРАНИЦЫ - НАЧАЛО------------*/

.heading_monopods {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 43px;
    margin-left: 60px;
    margin-bottom: 0;
}

.breadcrumbs {
    width: 385px;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    list-style-type: none;
    padding: 0;
}

.breadcrumbs a,
.breadcrumbs .item_disabled {
    font-size: 14px;
    line-height: 24px;
    color:rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);;
}

.breadcrumbs a:focus,
.breadcrumbs .item_disabled {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs .catalog_items::before,
.breadcrumbs .item_disabled::before {
    content: url("../img/nav_arrow.svg");
    width: 4px;
    height: 7px;
    padding-right: 17px;
}

/*-------------------------------------------*/

.catalog_filters {
    width: 100%;
    background-image: linear-gradient(to right, #eeeeee 50%, #ffffff 50%);
}

.wrap_header_filters {
    background-image: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);
}

.container_filters_1 {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, #dbdbdb 325px, #ebebeb 325px);
    
}

.container_filters {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header_filters {
    min-height: 70px;
    display: flex;
}

.header_filters .paragraph_filter,
.header_filters .paragraph_sort {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
}

.paragraph_filter {
    margin-left: 60px;
}

.paragraph_sort {
    display: flex;
    margin-left: 260px;
}

.header_filters .triangles_sort {
    width: 44px;
    margin: 18px 0;
    position: relative;
    margin-left: auto;
}

.header_filters .sort_up,
.header_filters .sort_down {
    opacity: 0.2;
}

.header_filters .sort_up::before {
    content: " ";
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-bottom: 10px solid #231f20;
    position: absolute;
    top: 5px;
    left: 0;   
}

.header_filters .sort_down::before {
    content: " ";
    width: 0;
	height: 0;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-top: 10px solid #231f20;
    position: absolute;
    top: 5px;
    left: 32px; 
}

.header_filters .sort_up:hover,
.header_filters .sort_down:hover {
    opacity: 0.4;
}

.header_filters .sort_up:focus,
.header_filters .sort_down:focus {
    opacity: 1;
}

.sort_items {
    width: 288px;
    display: flex;
    justify-content: space-between;
}

.sort_items button {
    font-size: 14px;   
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    background: none;
}

.sort_items button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sort_items button:focus {
    color:rgba(0, 0, 0);
}

.filters {
    width: 468px;
    min-height: 1210px;
    margin-top: 65px;
    margin-left: 45px;
    background-color: #eeeeee;
}

.filters_content {
    display: flex;
}

/* ------------------- СТИЛИ для ПОЛЗУНКА ФИЛЬТРА ----------------------------*/

























.filters_content .items_pagination {
    background-color: #ffffff;
}

.items_pagination .catalog_items {
    width: 798px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.items_pagination {
    width: 835px;
}


.catalog_items .catalog_item {
    margin-left: 39px;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.catalog_item .flag {
    position: absolute; 
}

.catalog_item .flag_new::before {
    content: "New";
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    position: absolute;
    top: 53px;
    left: 290px;
    color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.catalog_item .flag_new::after {
    content: " ";
    width: 60px;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 32px;
    left: 273px;
    z-index: 10;
}

.catalog_item .item_picture {
    height: 380px;
    position: relative;
}

.picture_mask {
    width: 360px;
    height: 380px;
    background-color: rgba(238, 238, 238, 0.7);
    position: absolute;
    display: none;
}

.picture_mask .in_basket {
    width: 122px;
    height: 33px;
    margin-top: 173px;
    margin-left: 76px;
    padding: 8px 43px;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px,  #f0c52e 24px, transparent 24px);
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 3px; 
}

.picture_mask .to_compare {
    font-size: 13px;
    line-height: 36px;
    text-align: center;
}

.to_compare a {
    color: rgba(0, 0, 0, 0.5);
}

.to_compare a:hover {
    color: rgba(0, 0, 0);
}

.to_compare a:focus {
    color: rgba(0, 0, 0, 0.2);
}


.catalog_item:hover .picture_mask {
    cursor: pointer;
    display: block;
}

.picture_mask .in_basket:hover {
    background-image: linear-gradient(#f0c52e 33px, #f0c52e 33px);
}

.picture_mask .in_basket a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.catalog_item .name_item {
    margin-bottom: 0;
    min-height: 50px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.catalog_items b {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.name_tag {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}

.catalog_item p {
    margin: 0;
}

.filters legend {
    width: 201px;
    border-top: 2px solid black;
}

.legend_filters {
    padding-top: 15px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.filters fieldset {
    border: none;
}










.filter_item {
    margin-left: 15px;
    margin-bottom: 35px;
    padding: 0;
    border: none;
}

.range_box {
    width: 260px;
}

.range_controls {
    width: 202px;
    position: relative;
    height: 12px; 
    padding-top: 30px; 
    padding-right: 20px;
    background-color: #f1f1f1;    
    border-radius: 5px;
}

.range_controls .scale {
    height: 2px; 
    background: #d7dcde;
}

.range_controls .bar {
    width: 55%;
    height: 2px;
    background: #00ca74;
}

.range_controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0; 
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}  

.range_controls .toggle_min {
    top: 20px;
    left: -5px;
}
  
.range_controls .toggle_max {
    top: 20px;
    left: 100px;
}

.price_controls {
    font-size: 0;
}

.price_controls label {
    display: inline-block;
    width: 32%;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.2);
}

.price_controls input {
    width: 50px;
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.2);
    border: none;
    background-color: transparent;
    margin-left: 0;
}

.max_price {
    margin-left: 0;
}

.filters .select_color,
.filters .select_bluetooth {
    font-size: 14px;
    line-height: 40px;
    position: relative;  
}

.filters .select_color::before {
    content: url("../img/checkbox-off.svg");
    width: 27px;
    height: 23px;
    position: absolute;
    top: -5px;
    left: -40px;
}

.filters .input_check[type="checkbox"]:checked + .select_color::after {
    content: url("../img/checkbox-on.svg");
    width: 27px;
    height: 23px;
    position: absolute;
    top: -5px;
    left: -40px;
}

.filters .select_color:hover::after {
    opacity: 0.6;
}

.filters .select_color:hover::before {
   opacity: 0.6;
}

.filters .input_check[type="checkbox"]:disabled + .select_color::before {
    opacity: 0.25;
}

.filters .input_check[type="checkbox"]:disabled + .select_color::after {
    opacity: 0.25;
}

.filters .select_bluetooth {
    position: relative; 
}

.filters .select_bluetooth::before {
    content: "";
    width: 21px;
    height: 21px;
    border: 4px solid #000000;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: -40px;
}

.filters .input_radio:checked + .select_bluetooth::after {
    content: "";
    width: 9px;
    height: 9px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: -30px;
}

.filters .select_bluetooth:hover::before {
    opacity: 0.6;
}

.select_bluetooth:hover::after {
    opacity: 0.6;
}

.filters .input_radio[type="radio"]:disabled + .select_bluetooth::before {
    opacity: 0.25;
}

.filters .input_radio:disabled + .select_bluetooth::after {
    opacity: 0.25;
}

.pagination_list {
    width: 760px;
    height: 70px;
    margin-left: 80px; 
    margin-bottom: 78px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebebeb;
}

.pagination_item,
.pagination_btn button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
}

.pagination_btn button {
    letter-spacing: 2px;
    width: 127px;
    height: 70px;
    background: none;
}

.pagination_btn button:hover {
    background-color: #d9d9d9;
}

.pagination_btn button:focus {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.3);
}

.pagination_numbers {
    width: 90px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.pagination_item button {
    background: none;
    color: rgba(0, 0, 0, 0.3);
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.pagination_item button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.pagination_item button:focus {
    color: rgba(0, 0, 0);
}




/*------------------------MAIN - КАТАЛОГА-СТРАНИЦЫ - КОНЦОВКА------------*/






/*------------------------------------------*/



.enter::before,
.enter_catalog::before {
    content: url("../img/user.svg");
    width: 13px;
    height: 12px;
    padding-right: 14px;
}

.foot_enter svg,
.footer_enter_catalog svg,
.foot_compare svg,
.foot_basket svg {
    margin-right: 10px;
    fill:#ffc600;
}

.foot_enter:hover path,
.footer_enter_catalog:hover path,
.foot_compare:hover path,
.foot_basket:hover path {
    fill-opacity: 0.6;
}

.foot_enter:focus,
.footer_enter_catalog:focus,
.foot_compare:focus,
.foot_basket:focus {
    opacity: 0.3;
}

.enter:hover,
.enter_catalog:hover,
.basket:hover,
.compare:hover {
    opacity: 0.6;
}

.enter:focus,
.enter_catalog:focus,
.basket:focus,
.compare:focus {
    opacity: 0.3;
}

.compare::before {
    content: url("../img/compare.svg");
    width: 10px;
    height: 10px;
    padding-right: 10px;
}

.basket::before {
    content: url("../img/basket.svg");
    width: 12px;
    height: 12px;
    padding-right: 12px;
}

.dropdown_catalog {
    position: relative;
}

.dropdown_catalog::before,
.dropdown_catalog::after {
    content: "";
    width: 16px;
    height: 2px;
    background-color: #272525;
    top: 10px;
    left: 225px;
    position: absolute;
    opacity: 0.3;
}

.dropdown_catalog::after {
    transform: rotate(90deg);
}

.search,
.enter,
.enter_catalog,
.footer_enter_catalog,
.user_exit,
.compare,
.basket,
.catalog_list a {
    font-size: 15px;
    line-height: 30px;
}

.catalog_list a {
    line-height: 36px;
    letter-spacing: 0;
}

.dropdown_list {
    display: none;
    position: absolute;
}

.nav_page_item {
    position: relative;
}

.dropdown_catalog,
.nav_link,
.filters .btn_show {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
}

.nav_page_item:hover  .dropdown_list {
    display: block;
}

.filters .btn_show {
    display: block;
    width: 200px;
    height: 41px;
    margin-left: 17px;
    padding: 8px 43px;
    background: none;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px,  #f0c52e 24px, transparent 24px);
    letter-spacing: 3px; 
}

.filters .btn_show:hover {
    background-image: linear-gradient(#f0c52e 41px, #f0c52e 41px);
}


.dropdown_catalog:hover,
.nav_link:hover,
.catalog_list a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.dropdown_catalog:focus,
.nav_link:focus,
.catalog_list a:focus {
    color: rgba(0, 0, 0, 0.3);
}


/*------------------- МОДАЛКИ - НАЧАЛО------------------------*/

.modal {
    position: fixed;
    color: #000000;
    background-color: #ffffff;
}

.modal_login {
    width: 760px;
    min-height: 390px;
    top: 250px;
    left: 50%;
    margin-left: -480px;
    padding: 100px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.modal_login .btn_close {
    background-color: transparent;
    border: 0;   
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 70px;
    outline: none;
    opacity: 0.5;
}

.modal_login .btn_close::before {
    content: url("../img/modal_close.svg");
    position: absolute;
}

.modal_login .btn_close:hover {
    opacity: 1;
}

.modal_login .btn_close:focus {
    opacity: 0.3;
}

.modal_login label {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.modal_login .login_names {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.modal_login .login_names input[type="text"],
.modal_login .login_names input[type="email"] {
    width: 360px;
    height: 50px;
    margin-top: 10px;
    background-color: #e5e5e5;
    box-sizing: border-box;
    border: none;
    opacity: 0.5;
}

.modal_login .freedom_text textarea {
    width: 100%;
    min-height: 158px;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: #e5e5e5;
    border: none;
    font-size: 14px;
    opacity: 0.5;
}

.modal_login .login_names input[type="text"]:hover,
.modal_login .login_names input[type="email"]:hover,
.modal_login .freedom_text textarea:hover {
    opacity: 0.8;
}

.modal_login .login_names input[type="text"]:focus,
.modal_login .login_names input[type="email"]:focus,
.modal_login .freedom_text textarea:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px #f0c52e;
   
}

.modal_login .login_names input[type="text"]:invalid,
.modal_login .login_names input[type="email"]:invalid {
    background-color: #edb5b5;
    opacity: 0.5;
}


.login_names input[type="text"]::placeholder,
.login_names input[type="email"]::placeholder,
.freedom_text textarea::placeholder {
    color: #464646;
    padding-top: 15px;
    padding-left: 21px;
    font-size: 14px;
    line-height: 18px;
}

.modal_login .btn_decor {
    display: block;
    width: 210px;
    height: 41px;
    padding: 8px 43px;
    background: none;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px,  #f0c52e 24px, transparent 24px);
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
}

.modal_login .btn_decor:hover {
    background-image: linear-gradient(#f0c52e 41px, #f0c52e 41px);
}


.modal_map {
    position: fixed;
    width: 965px;
    height: 560px;
    top: 50%;
    left: 50%;
    margin-left: -490px;
    margin-top: -280px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);    
}

.modal_map .big_map {
    margin: 0;  
}

.modal_map .btn_close {
    background-color: transparent;
    border: 0;   
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 70px;
    outline: none;
    opacity: 0.5;
}

.modal_map .btn_close::before {
    content: url("../img/modal_close.svg");
    position: absolute;
}

.modal_map .btn_close:hover {
    opacity: 1;
}

.modal_map .btn_close:focus {
    opacity: 0.3;
}





.modal_login {
    display: none;
}

.modal_map {
    display: none;
}

/*------------------- МОДАЛКИ - КОНЕЦ------------------------*/

/*-----------------ПРОБНИКИ---------------
.radio_push input[type="radio"]:checked .slider_2 {
    display: block;
}
---------------------------------*/

