@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;
    src: local("Gilroy Light"), local("Gilroy-Light"), 
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    font-style: normal;
    src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), 
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: local("OpenSans Regular"), local("OpenSans-Regular"), 
         url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    src: local("OpenSans Light"), local("OpenSans-Light"), 
         url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");    
}

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "Opensans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
}

.inner_page {
    
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

button {
    border: none;
}

.header_index {
    background-color: #f7e296;
    width: 1160px;
    min-height: 299px;
    margin: 0 auto;
    margin-top: 29px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.main_navigation {
    width: 1040px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.main_header_logo {
    margin-top: -8px;
}

.user-menu {
    display: flex; 
    margin-top: 36px;
    
}

.search_form {
    margin-right: auto;  
}

.compare {
    margin-right: 40px;
}

.enter {
    margin-right: 216px;
}

.site_navigation {
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
    margin-left: 0;
    display: flex;
    position: relative;
}

.site_navigation::after {
    content: " "; 
    background: #ffffff; 
    width: 100px;
    height: 7px;
    position: absolute;
    left: 540px;
    top: 105px;
    z-index: 1;
}

.site_navigation li {
    letter-spacing: 3px; 
}

.catalog {
    width: 540px;
}
    
.nav_delivery {
    margin-right: 40px;
}

.nav_guarantee {
    margin-right: auto;
}

.nav_contacts {
    margin-left:
}

.catalog_list {
    list-style-type: none;
    width: 1160px;
    height: 130px;
    padding: 0;
    margin-top: -3px;
    margin-left: -60px;
    position: absolute;
    top: 222px;
    background-color: #f7e296;
    display: flex;
    display: none;
    z-index: 2;
}

.catalog_column {
    margin-top: -5px;
    margin-left: 20px;
}

.list_3 {
    margin-left: 45px;
}

/*-----------------------------------------СЛАЙДЕРЫ -----------------------------*/

/*-----------------------------------------СЛАЙДЕР    #1-----------------------------*/

.sliders_menu {
    margin-top: 0px;
    width: 1100px;
    min-height: 486px;
    display: flex;
    justify-content: space-between;
}

.sliders_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sliders_menu.slider_1 {
    display: ;
}

.photo_monopods {
    width: 400px;
    margin-top: -111px;
    margin-left: 90px;
}

.about_selfie {
    width: 500px;
    display: flex;
    flex-direction: column;    
}

.numeration_sliders {
    margin-top: -115px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    font-weight: 700;
    line-height: 179px;
    color: #ffffff;
    align-self: flex-end;  
}

.selfie_notation {
    margin-top: -264px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
}

.description_selfie {
    margin-top: -25px;
    font-size: 15px;
    color: #464646;
    line-height: 30px;
}

.more_and_radio {
    margin-top: 30px;
    display: flex;
}

.more_and_radio a {
    display: block;
    width: 455px;
}

.more_and_radio ul {
    display: flex;
}

.more_and_radio .radio_push {
    margin-right: 21px;
}

.more_detailed {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
}

.parameters {
    margin-top: 50px;
    width: 427px;
    display: flex;
    justify-content: space-between;
}

.parameters .character {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}

.parameter_item {
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

/*-------------------------------------СЛАЙДЕР #2 ---------------------------------*/

.sliders_menu {
    margin-top: 0px;
    width: 1100px;
    min-height: 486px;
    display: flex;
    justify-content: space-between;
}

.sliders_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sliders_menu.slider_2 {
    display: none;
}

 .photo_fitbracelet {
    width: 400px;
    margin-top: -88px;
    margin-left: 110px;
}

.about_selfie {
    width: 500px;
    display: flex;
    flex-direction: column;    
}

.numeration_sliders {
    margin-top: -115px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    font-weight: 700;
    line-height: 179px;
    color:#ffffff;
    align-self: flex-end;
   
}

.selfie_notation {
    margin-top: -264px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
}

.description_selfie {
    margin-top: -25px;
    font-size: 15px;
    color: #464646;
    line-height: 30px;
}

.more_and_radio {
    margin-top: 30px;
    display: flex;
}

.more_and_radio a {
    display: block;
    width: 455px;
}

.more_and_radio ul {
    display: flex;
}

.more_and_radio .radio_push {
    margin-right: 21px;
}

.more_detailed {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
}

.parameters {
    margin-top: 50px;
    width: 427px;
    display: flex;
    justify-content: space-between;
}

.parameters .character {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}

.parameter_item {
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

/*-------------------------------------СЛАЙДЕР #3 ---------------------------------*/

.sliders_menu {
    margin-top: 0px;
    width: 1100px;
    min-height: 486px;
    display: flex;
    justify-content: space-between;
}

.sliders_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sliders_menu.slider_3 {
    display: none;
}

.photo_quadcopter {
    width: 400px;
    margin-top: -35px;
    margin-left: 29px;
}

.about_selfie {
    width: 500px;
    display: flex;
    flex-direction: column;    
}

.numeration_sliders {
    margin-top: -115px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    font-weight: 700;
    line-height: 179px;
    color:#ffffff;
    align-self: flex-end;
   
}

.selfie_notation {
    margin-top: -264px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
}

.description_selfie {
    margin-top: -25px;
    font-size: 15px;
    color: #464646;
    line-height: 30px;
}

.more_and_radio {
    margin-top: 30px;
    display: flex;
}

.more_and_radio a {
    display: block;
    width: 455px;
}

.more_and_radio ul {
    display: flex;
}

.more_and_radio .radio_push {
    margin-right: 21px;
}

.more_detailed {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
}

.parameters {
    margin-top: 50px;
    width: 427px;
    display: flex;
    justify-content: space-between;
}

.parameters .character {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}

.parameter_item {
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

.slider_3 .visibility_hidden {
    width: 100px;
}

/*----------------------------------------------------*/



/*----------------СТРОЧНАЯ ВИТРИНА - НАЧАЛО-------------------*/

.shopping_row {
    display: flex;
    justify-content: space-between;
}

.shopping_row ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.shopping_row .icon_row a {
    width: 160px;
    height: 160px;
    margin-bottom: 39px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    display: block;
}

.row_item_1 a {
    background-image: url("../img/icon_virt_real.svg");
    background-position: 50% 50%;
}

.row_item_2 a {
    background-image: url("../img/icon_monopods.svg");
    background-position: bottom;
}

.row_item_3 a {
    background-image: url("../img/icon_cameras.svg");
    background-position: 50% 50%;
}

.row_item_4 a {
    background-image: url("../img/icon_fit_bracelet.svg");
    background-position: 50% 50%;
}

.row_item_5 a {
    background-image: url("../img/icon_watch.svg");
    background-position: 50% 50%;
}

.row_item_6 a {
    background-image: url("../img/icon_quadcopter.svg");
    background-position: 50% 50%;
}

.row_item_text p {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.shopping_row .icon_row a:hover {
    background-color: #f0c52e;
}

.shopping_row .icon_row a:focus {
    background-color: red;
}

/*----------------------СТРОЧНАЯ ВИТРИНА - КОНЦОВКА------------------------------*/


/*----------------------CЕРВИСЫ (ДОСТАВКА, ГАРАНТИЯ, КРЕДИТ) - НАЧАЛО------------*/

/*----------------------CЕРВИСЫ (ДОСТАВКА, ГАРАНТИЯ, КРЕДИТ) - СЛАЙДЕР №1------------*/


.servises_background {
    background-color: #e5e5e5;
    width: 100%;
    min-height: 288px;
    margin-top: 185px;
}

.servises {
    margin-left: 23px;
    display: flex;
}

.servises ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.servises_item button {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
    margin-top: -11px;
}

.servises_list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 142px;
    justify-content: space-between;
    align-items: center;
}

.servises_list::after {
    content: " ";
    width: 7px;
    height: 319px;
    background-color: #000000;
    position: absolute;
    left: 265px;
    top: -115px;
}

.icon_devivery {
    background-image: url("../img/delivery.svg");
    width: 136px;
    height: 164px;
}

.delivery {
    margin-top: -28px;
    margin-left: 265px;
}

.delivery h3 {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
}

.delivery p { 
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.icon_devivery {
    margin-top: -15px;
    margin-left: 130px;
}

/*----------------------CЕРВИСЫ (ДОСТАВКА, ГАРАНТИЯ, КРЕДИТ) - СЛАЙДЕР №1 - КОНЦОВКА----*/

/*----------------------CЕРВИСЫ (ДОСТАВКА, ГАРАНТИЯ, КРЕДИТ) - СЛАЙДЕР №1------------*/


.servises_background {
    background-color: #e5e5e5;
    width: 100%;
    min-height: 288px;
    margin-top: 185px;
    margin-bottom: 95px;
}

.servises {
    margin-left: 23px;
    display: flex;
}

.servises ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.servises li {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px; 
    margin-top: -11px;
}

.servises input {
    display: none;
}

.icon_devivery {
    background-image: url("../img/delivery.svg");
    width: 136px;
    height: 164px;
    margin-top: -15px;
    margin-left: 130px;
}

.delivery,
.warranty,
.credit {
    margin-top: -28px;
    margin-left: 265px;
}

.delivery h3,
.warranty h3,
.credit h3 {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
}

.delivery p,
.warranty p,
.credit p { 
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.delivery_hidden {
    display: block;
}


/*---------------------- СЛАЙДЕР №1 - КОНЦОВКА----*/

/*-----БЛОКИ К СЛАЙДУ №2-------*/


.icon_warranty {
    background-image: url("../img/warranty.svg");
    width: 171px;
    height: 194px;
    margin-top: -38px;
    margin-left: 110px;
}

.warranty_hidden {
    display: none;
}

/*-----БЛОКИ К СЛАЙДУ №3-------*/


.icon_credit {
    background-image: url("../img/credit.svg");
    width: 156px;
    height: 186px;
    margin-top: -38px;
    margin-left: 100px;
}

.credit_hidden {
    display: none;
}


/*----------------------CЕРВИСЫ (ДОСТАВКА, ГАРАНТИЯ, КРЕДИТ) - КОНЦОВКА--------------*/

/*----------------------ЛИНИЯ ЛОГОТИПОВ - НАЧАЛО--------------*/

.container_logotypes {
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logotypes {
    width: 260px;
    height: 100px;
}

.logo_1 {
    background-image: url("../img/logo_1_gray.png");
}

.logo_2 {
    background-image: url("../img/logo_2_gray.png");
}

.logo_3 {
    background-image: url("../img/logo_3_gray.png");
}

.logo_4 {
    background-image: url("../img/logo_4_gray.png");
}

/*----------------------ЛИНИЯ ЛОГОТИПОВ - КОНЦОВКА--------------*/


/*----------------------О НАС и НАПИШИТЕ НАМ - НАЧАЛО--------------*/


.write_about_us {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.about_us p.heading,
.write_us p.heading {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
    position: relative;
}

.about_us p.heading::before {
    content: " ";
    width: 80px;
    height: 7px;
    background: #000000;
    position: absolute;
    left: 0px;
    top: -60px;
}

.write_us p.heading::before {
    content: " ";
    width: 80px;
    height: 7px;
    background: #000000;
    position: absolute;
    left: 0px;
    top: -60px;
}

.about_us p.contents,
.write_us p.contents {
    margin: 0;
    font-size: 15px;
    color: #464646;
    line-height: 30px;
}

.about_us p.content_2 {
    margin-top: 37px;
}

.write_us .small_map {
    display: block;
    margin-top: 45px;
}

.trans_comp_list {
    margin-top: 67px;
}

.trans_comp_list .trans_item {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    position: relative;
}

.trans_comp_list .trans_item::before {
    content: url("../img/slider_button.svg");
    position: absolute;
    width: 8px;
    height: 8px;
    left: -40px;
    top: 7px;
}

.about_us .btn_about_us,
.write_us .btn_write_us {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px; 
    line-height: 24px;
}

.about_us .btn_about_us {
    display: block;
    margin-top: 50px;
    margin-left: 20px;
}

.write_us .btn_write_us {
    display: block;
    margin-top: 45px;
    margin-left: 40px;
}

/*----------------------О НАС и НАПИШИТЕ НАМ - КОНЦОВКА--------------*/


/*------------------------ФУТЕР - ГЛАВНОЙ СТРАНИЦЫ-  НАЧАЛО------------*/

.footer_main {
    background-color: #464646;
    background-position: bottom;
    width: 100%;
    min-height: 323px;
    margin-top: 95px;
}

.footer_head {
    display: flex;
}

.footer_nav {
    display: flex;
    margin-top: 15px;
}

.footer_social {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.social_list {
    width: 145px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer_social .yellow_line {
    width: 80px;
    position: relative;
}

.yellow_line::before {
   content: " ";
   background-color: #ffc600;
   width: 80px;
   height: 7px;
   position: absolute;
   left: 0px;
   top: 10px;
}

.footer_social .logo_html {
    padding-left: 53px;

}

.site_navigation_foot {
    margin-top: 20px;
    margin-left: 166px;
    display: flex;
    width: 426px;
    justify-content: space-between;
    padding: 0;
}

.site_navigation_foot li {
    letter-spacing: 3px;
}

.footer_nav .telefone {
    margin-left: auto;
}

.footer_head .logo_bottom,
.footer_menu {
    margin-top: 67px;
}

.footer_menu {
    margin-left: auto;
}

.foot_enter,
.foot_compare {
    margin-right: 40px;
}

.foot_enter,
.foot_compare,
.foot_basket,
.footer_nav .telefone {
    font-size: 15px;
    line-height: 30px;
}

.footer_nav .address {
    font-size: 15px;
    color: #464646;
    line-height: 30px;
}

.footer_main .foot_enter,
.footer_main .foot_compare,
.footer_main .foot_basket {
    color: #c8c8c8;
}

.footer_nav .address,
.footer_nav .telefone a,
.footer_nav .nav_link,
.footer_main .foot_enter:hover,
.footer_main .foot_compare:hover,
.footer_main .foot_basket:hover {
    color: #ffffff;
}

.footer_nav .nav_link:hover {
    color: #b5b5b5;
}

.footer_nav .nav_link:focus,
.footer_main .foot_enter:focus,
.footer_main .foot_compare:focus,
.footer_main .foot_basket:focus {
    color: #7e7e7e;
 }

.facebook {
    content: url("../img/facebook.svg");
    width: 32px;
    height: 32px;
}

.instagram {
    content: url(../img/instagram.svg);
    width: 32px;
    height: 32px;
}

.twitter {
    content: url(../img/twitter.svg);
    width: 32px;
    height: 32px;
}

.logo_html {
    content: url(../img/logo-html.svg);
    width: 27px;
    height: 35px;
}


/*------------------------ФУТЕР - ГЛАВНОЙ СТРАНИЦЫ - КОНЦОВКА ----------------------------*/


/*------------------------ФУТЕР - КАТАЛОГА-СТРАНИЦЫ - НАЧАЛО------------*/

.footer_main {
    background-color: #464646;
    background-position: bottom;
    width: 100%;
    min-height: 323px;
    margin-top: 95px;
}

.footer_catalog {
    margin-top: 0;
}

.footer_head {
    display: flex;
}

.footer_nav {
    display: flex;
    margin-top: 15px;
}

.footer_social {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.social_list {
    width: 145px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer_catalog .yellow_line_catalog {
    position: relative;
    width: 80px;
}

.yellow_line_catalog::before {
    content: " ";
    background-color: #ffc600;
    width: 80px;
    height: 7px;
    position: absolute;
    left: 0px;
    top: 10px;
 }


/*------------------------ФУТЕР - КАТАЛОГА-СТРАНИЦЫ - КОНЦОВКА------------*/

/*------------------------ХЕДЕР - КАТАЛОГА-СТРАНИЦЫ - НАЧАЛО------------*/


.header_catalog {
    background-color: #f7e296;
    width: 1160px;
    min-height: 186px; 
    margin: 0 auto; 
    margin-top: 40px;
}

.user_autor {
    display: none;
}

.header_logo_catalog {
    margin-top: -17px;
}

.search_catalog {
    margin-right: auto;
}

/*------------------------ХЕДЕР - КАТАЛОГА-СТРАНИЦЫ - КОНЦОВКА------------*/

/*------------------------MAIN - КАТАЛОГА-СТРАНИЦЫ - НАЧАЛО------------*/

.heading_monopods {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 43px;
    margin-left: 60px;
    margin-bottom: 0;
}

.breadcrumbs {
    width: 385px;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    list-style-type: none;
    padding: 0;
}

.breadcrumbs a,
.breadcrumbs .item_disabled {
    font-size: 14px;
    line-height: 24px;
    color: #b2b2b2;
}

.breadcrumbs a:hover {
    color: #666666;
}

.breadcrumbs a:focus,
.breadcrumbs .item_disabled {
    color: #e5e5e5;
}

.breadcrumbs .catalog_items::before,
.breadcrumbs .item_disabled::before {
    content: url(../img/nav_arrow.svg);
    width: 4px;
    height: 7px;
    padding-right: 17px;
}

/*-------------------------------------------*/

.catalog_filters {
    width: 100%;
    background-color: #eeeeee;
}

.wrap_header_filters {
    background-color: #ebebeb;
}

.container_filters {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header_filters {
    min-height: 70px;
    display: flex;
}

.header_filters p {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
}

.paragraph_filter {
    margin-left: 60px;
}

.paragraph_sort {
    margin-left: 252px;
}

.header_filters .visually_hidden {
    margin-left: auto; 
}

.header_filters .visually_hidden::before {
    content: url("../img/icon_up_dir.svg");
    padding-right: 18px;
    width: 11px;
    height: 10px;
}

.header_filters .visually_hidden::after {
    content: url("../img/icon_down_dir.svg");
    width: 11px;
    height: 10px;
}

.sort_items {
    width: 288px;
    display: flex;
    justify-content: space-between;
}

.sort_items button {
    font-size: 14px;   
    line-height: 18px;
    color: #b2b2b2;
}

.sort_items button:hover {
    color: #666666;
}

.sort_items button:focus {
    color: #000000;
}

.filters {
    width: 468px;
    min-height: 1210px;
    margin-top: 65px;
    margin-left: 45px;
    background-color: #eeeeee;
}

.filters_content {
    display: flex;
}

.filters_content .items_pagination {
    background-color: #ffffff;
}

.items_pagination .catalog_items {
    width: 798px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.items_pagination {
    width: 835px;
}

.catalog_items .visually_hidden,
.filters .visually_hidden {
    display: none;
}

.catalog_items .item {
    margin-left: 39px;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item .name_item {
    margin-bottom: 0;
    min-height: 50px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
}


.catalog_items b {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.name_tag {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}

.item p {
    margin: 0;
}

.filters legend {
    width: 201px;
    border-top: 2px solid black;
}

.legend_filters {
    padding-top: 15px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.filters fieldset {
    border: none;
}

.filters .select_color,
.filters .select_bluetooth {
    font-size: 14px;
    line-height: 40px;
}


.filters input[type="checkbox"] {
    content: url(../img/checkbox-off.svg);
    width: 27px;
    height: 23px;
}

.filters input[type="radio"] {
    content: url(../img/radio-off.svg);
    width: 25px;
    height: 25px;
}

.pagination_list {
    width: 760px;
    height: 70px;
    margin-left: 85px; 
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebebeb;
}

.pagination_item,
.pagination_btn button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
}

.pagination_btn button {
    letter-spacing: 2px;
    width: 127px;
    height: 70px;;
}

.pagination_numbers {
    width: 90px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.pagination_item button {
    color: #b2b2b2;
}

.pagination_item button:hover {
    color: #666666;
}

.pagination_item button:focus {
    color: #000000;
}

.pagination_btn button:focus {
    color: #979797;
}


/*------------------------MAIN - КАТАЛОГА-СТРАНИЦЫ - КОНЦОВКА------------*/






/*------------------------------------------*/



.visually_hidden_search {
    content: url(../img/search.svg);
    width: 16px;
    height: 16px;
}

.enter::before,
.foot_enter::before {
    content: url(../img/user.svg);
    width: 13px;
    height: 12px;
    padding-right: 14px;
}

.compare::before,
.foot_compare::before {
    content: url(../img/compare.svg);
    width: 10px;
    height: 10px;
    padding-right: 10px;
}

.basket::before,
.foot_basket::before {
    content: url(../img/basket.svg);
    width: 12px;
    height: 12px;
    padding-right: 12px;
}

.dropdown_catalog::after {
    content: url(../img/plus.svg);
    width: 16px;
    height: 16px;
    padding-left: 16px;
}


.search,
.enter,
.compare,
.basket,
.catalog_list a {
    font-size: 15px;
    line-height: 30px;
}

.catalog_list a {
    line-height: 36px;
}

.dropdown_catalog,
.nav_link,
.filters .btn_show {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
}


.enter:hover,
.compare:hover,
.basket:hover,
.dropdown_catalog:hover,
.nav_link:hover,
.catalog_list a:hover {
    color: #635a3c;
}

.enter:focus,
.compare:focus,
.basket:focus,
.dropdown_catalog:focus,
.nav_link:focus,
.catalog_list a:focus {
    color: #ac9e69;
}




/*---------------------------------------*/




.pop_closed,
.find_btn {
    display: none;
}


.dropdown_catalog:hover  .catalog_list {
   
}